{
  "plugins": [
    "transform-es2015-modules-commonjs",
    "transform-decorators-legacy",
    "transform-class-properties"
  ],
  "presets": [
    "react",
    "es2017"
  ],
  "ignore": [
    "src/client/js"
  ]
}
